" ------------------------
" --- GENERAL SETTINGS ---
" Yank to system clipboard.
set clipboard+=unnamed
" Show relative line numbers.
set number relativenumber
" Ignore case while searching.
set ignorecase
" ... unless any character in the search is uppercase.
set smartcase
" Highlight all search results.
set hlsearch
" Enable surround plugin (ex: cs'" - change single quotes to double quotes).
set surround
" Enable easymotion - requires IdeaVim-EasyMotion and AceJump (from marketplace).
set easymotion
set notimeout
" ----------------
" --- MAPPINGS ---
let mapleader = " "
" Delete to black hole register.
map <leader>d "_d
map <leader><space> <Action>(RecentFiles)
map <leader>e <Action>(ActivateProjectToolWindow)
map <leader>j <Plug>(easymotion-s)
map <leader>c <Action>(CommentByLineComment)
map <leader>r <Action>(RenameElement)
map <leader>1 <Action>(Back)
map <leader>2 <Action>(Forward)
map <leader>v <Action>(ShowErrorDescription)
map <leader>[ [{
map <leader>] ]}
" move selection up and down
map J :m '>+1<CR>gv=gv
map K :m '<-2<CR>gv=gv
" --- SPLIT
map <leader>ss <Action>(SplitVertically)
map <leader>sd <Action>(NextSplitter)
" --- FIND
map <leader>fa <Action>(GotoFile)
map <leader>fe <Action>(SearchEverywhere)
map <leader>fa <Action>(GotoAction)
" --- GO TO
map <leader>gi <Action>(GotoImplementation)
" --- TEXT OCCURRENCES.
map <leader>mn <Action>(SelectNextOccurrence)
map <leader>ma <Action>(SelectAllOccurrences)
" -------------
" ---PLUGINS---
" Highlight copied text.
Plug "machakann/vim-highlightedyank"
" File explore vim integration.
Plug "preservim/nerdtree"